<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <!-- <script src="js/main.js"></script> -->
</head>

<body>
    <input type="text" class="message">
    <button onclick="sendMessage()">Send Message</button>
    <button onclick="notifikasi()">Enable notifications</button>

    <script>
        const socket = io('http://localhost:3002')
        socket.on('connection')

        const sendMessage = () => {
            const messageInput = document.querySelector('.message')
            const message = messageInput.value

            socket.emit('message', message)
        }

        socket.on('message', (data) => {
            notifikasi(data)
            console.log(data)
        })

        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js')
                    .then(registration => {
                        console.log('Service Worker registered! 😎');
                    })
                    .catch(err => {
                        console.log('Registration failed 😫 ', err);
                    });
            });
        }

        if (Notification.permission === "granted") {
            alert("we have permission");
        } else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(permission => {
                console.log(permission);
            });
        }

        function notifikasi(message) {
            if (!Notification) {
                alert('Browsermu tidak mendukung Web Notification.');
                return;
            }
            if (Notification.permission !== "granted")
                Notification.requestPermission();

            else {
                var notifikasi = new Notification('Judul Notifikasi', {
                    icon: '',
                    body: message,
                });
                notifikasi.onclick = function () {
                    window.open("http://google.com");
                };

                console.log(notifikasi)
                setTimeout(function () {
                    notifikasi.close();
                }, 5000);
            }
        };
    </script>
</body>

</html>
